.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.dateWrapper {
  position: relative;
  width: 100%; /* 你可以調整，寫你要的 input 寬度 */
}

.dateInput {
  width: 100%;
  padding: 0.5rem 2.2rem 0.5rem 0.6rem;
  border-radius: 6px;
  border: none;
  background-color: #d7dee1;
}

.icon {
  position: absolute;
  right: 8px;
  top: 70%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  padding: 0.1rem;
  opacity: 0.8;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
}
